<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>
        <%= name %>
    </title>
</head>

<body>
    <header>
        <%- include('../partials/head') -%>
    </header>

    <div class="content">
        <a href="/albums/FTTWTE"> <img src="<%= img %>" id="albumPage" /></a>

    </div>

    <div class="releaseDate content">
        <%= releaseDate %>
    </div>

    <div class="songs content">
        <ul>
            <% for (let i=0; i < songs.length; i++) { %>
                <li>
                    <%= songs[i] %>
                </li>
                <% } %>
        </ul>
    </div>
</body>

</html>
